{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="label">Hello World</h1>

{% else %}
<h1 class="label">Login</h1>

<form method="POST" calss="col-6-md" action="{% url 'home' %}">
  {% csrf_token %}
  <div class="mb-3">
    <br>
    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter username" required>
  </div>
  <div class="mb-3">
    <br>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Enter password"
      required>
  </div>
  <br>
  <button type="submit" class="btn btn-secondary">Login</button>
</form>

{% endif %}

{% endblock %}